#init {
    position: absolute;
    left: 50px;
    top: 40px;
    width: 100px;
    height: 100px;
    background-color: rosybrown;
    border: 1px solid black;
}
#transformacion{
    position: absolute;
    left: 50px;
    top: 40px;
    width: 100px;
    height: 100px;
    background-color: rgb(38, 130, 192);
    border: 1px solid black;

}
.rotacion-c{
    transform-origin: left top;
    transform: rotate(25deg);
    background-color: rgb(38, 130, 192);
}