/*mobile first */

:root{
    --bg-yellow: #caa616;
    --bg-red: #b21d0f;
    --bg-blue: #086eb2;
    --bg-black: #17202a;
    --bg-white: #fdfefe;
}
*{
    font-family: Arial, Helvetica, sans-serif;}
    body{ background-color: var(--bg-black);}

    #Contenedor{
    display: grid;
    grid-template-areas: 
    "rojo1"
    "rojo2"
    "azul1"
    "amarillo1"
    "bauhaus"
    "blanco"
    "azul2"
    "amarillo2";

gap: 1em;
margin: 1em;
padding-top: 10px;
background-color: var(--bg-black);
}
#rojo1{
    grid-area: rojo1;
    background-color: var(--bg-red);
    height: 60px;
}
#rojo2{
    grid-area: rojo2;
    background-color: var(--bg-red);
    height: 60px;
}
#azul1{
    grid-area: azul1;
    background-color: var(--bg-blue);
    height: 60px;
}
#amarillo1{
    grid-area: amarillo1;
    background-color: var(--bg-yellow);
    height: 60px;   
}
#bauhaus{
    
    grid-area: bauhaus;
    text-align: center;
    background-color: var(--bg-white);

    
    h1{
        font-size: 75px;
    }

    p{font-size: small;
        margin: 10px;
        padding: 10px 20px;
    }
}
#blanco{
    grid-area: blanco;
    background-color: var(--bg-white);
    height: 60px;
}
#azul2{
    grid-area: azul2;
    background-color: var(--bg-blue);
    height: 60px;
}
#amarillo2{
    grid-area: amarillo2;
    background-color: var(--bg-yellow);
    height: 60px;
}
@media only screen and (min-width: 768px){
    #Contenedor{
       grid-template-columns: repeat(6,1fr);
       grid-template-areas: 
       "azul1 azul1 azul1"
       "bauhaus bauhaus bauhaus"
       "blanco azul2 amarillo1"
       "rojo1 rojo2 rojo2"
       "amarillo2 rojo2 rojo2"
       "amarillo2 rojo2 rojo2";}
    
       #azul1,#azul2,#blanco1,#amarillo1{
        height: 100px;
       }
       #rojo1{
        height: 150px;
       }
       #rojo2{
        height: 500px;
       }
       #amarillo2{
        height: 334px;
       }
       #bauhaus{
        text-align: right;
        padding-right: 20px;
       }
    }
    @media only screen and (min-width: 1024px){
        #Contenedor{
           grid-template-columns: repeat(6,1fr);
           grid-template-areas: 
           "rojo2 rojo2 rojo2 azul1 azul1 azul1"
           "amarillo2 rojo2 rojo2 bauhaus bauhaus bauhaus"
           "amarillo2 rojo2 rojo2 blanco azul2 amarillo1";}
        
    #rojo2{
        height: 680px;
    }
#amarillo2{
    height: 515px;

     }
     #bauhaus{
        margin-top: 50px;
        height: 450px;
     }
    }